Source: arctica-greeter
Section: x11
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Standards-Version: 4.1.1
Build-Depends: at-spi2-core,
               dbus-x11,
               debhelper (>= 9),
               dh-autoreconf,
               fonts-droid-fallback | fonts-droid,
               mate-common,
               mate-settings-daemon-dev,
               libayatana-ido3-dev (>= 0.4.0~),
               libayatana-indicator3-dev (>= 0.6.0~),
               libcanberra-dev,
               libgtk-3-dev,
               liblightdm-gobject-dev (>= 1.4.0) | liblightdm-gobject-1-dev (>= 1.4.0),
               lightdm-vala | liblightdm-gobject-1-dev,
               libpam-freerdp2-dev,
               libpam-x2go-dev,
               libpixman-1-dev,
               numix-gtk-theme,
               numix-icon-theme,
               valac (>= 0.20.0),
               valgrind [amd64],
               xvfb,
               xauth,
Homepage: http://arctica-project.org
Vcs-Git: git://cgit.arctica-project.org/arctica-greeter.git
Vcs-Browser: https://cgit.arctica-project.org/arctica-greeter.git/

Package: arctica-greeter
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         fonts-cantarell,
         fonts-cabin,
         lightdm,
         marco,
         network-manager,
         numix-gtk-theme,
         numix-icon-theme,
         mate-settings-daemon,
         systemd,
         python3,
         x11-xkb-utils,
Recommends: ayatana-indicator-application,
            ayatana-indicator-datetime,
            ayatana-indicator-keyboard,
            ayatana-indicator-power,
            ayatana-indicator-session,
            ayatana-indicator-sound,
            network-manager-gnome,
            xinput,
            numlockx,
Provides: lightdm-greeter
Breaks:
 edubuntu-artwork (<< 12.01.1~),
Description: LightDM Arctica Greeter
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.

Package: arctica-greeter-guest-session
Architecture: any
Depends: ${misc:Depends},
         adduser,
Recommends: openbox,
Description: LightDM Arctica Greeter - Guest Session Support
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 This package adds guest account support to the Arctica Greeter login manager.

Package: arctica-greeter-remote-logon
Architecture: all
Depends: ${misc:Depends},
         arctica-greeter-guest-session,
         remote-logon-service,
Recommends: lightdm-remote-session-freerdp2,
            lightdm-remote-session-x2go,
Description: LightDM Arctica Greeter - Remote Login Support
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 This package adds remote logon support to Arctica Greeter. Remote
 sessions supported by Arctica Greeter are:
 .
   - Arctica Remote Desktop Sessions
   - X2Go Desktop Sessions
   - Windows RDP sessions (FreeRDP)
   - Citrix Remote Desktop Sessions

Package: arctica-greeter-theme-debian
Architecture: all
Depends: ${misc:Depends},
         arctica-greeter,
         libglib2.0-bin,
         desktop-base,
Breaks: arctica-greeter-theme-ubuntumate,
 arctica-greeter-theme-debian-softwaves,
 arctica-greeter-theme-debian-futureprototype,
Replaces: arctica-greeter-theme-ubuntumate,
 arctica-greeter-theme-debian-softwaves,
 arctica-greeter-theme-debian-futureprototype,
Description: LightDM Arctica Greeter - Debian Theme (active theme)
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 This package themes Arctica Greeter with a Debian look'n'feel. It will use
 the currently active Debian theme.

Package: arctica-greeter-theme-debian-softwaves
Architecture: all
Depends: ${misc:Depends},
         arctica-greeter,
         libglib2.0-bin,
         desktop-base (>= 9~),
Breaks: arctica-greeter-theme-ubuntumate,
 arctica-greeter-theme-debian,
 arctica-greeter-theme-debian-futureprototype,
Replaces: arctica-greeter-theme-ubuntumate,
 arctica-greeter-theme-debian,
 arctica-greeter-theme-debian-futureprototype,
Description: LightDM Arctica Greeter - Debian Theme (softwaves, Debian 9)
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 This package themes Arctica Greeter with a Debian 9 (stretch) look'n'feel.

Package: arctica-greeter-theme-debian-futureprototype
Architecture: all
Depends: ${misc:Depends},
         arctica-greeter,
         libglib2.0-bin,
         desktop-base (>= 10~),
Breaks: arctica-greeter-theme-ubuntumate,
 arctica-greeter-theme-debian,
 arctica-greeter-theme-debian-softwaves,
Replaces: arctica-greeter-theme-ubuntumate,
 arctica-greeter-theme-debian,
 arctica-greeter-theme-debian-softwaves,
Description: LightDM Arctica Greeter - Debian Theme (futurePrototype, Debian 10)
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 This package themes Arctica Greeter with a Debian 10 (buster) look'n'feel.

Package: arctica-greeter-theme-ubuntumate
Architecture: all
Depends: ${misc:Depends},
         arctica-greeter,
         libglib2.0-bin,
         ubuntu-mate-wallpapers-common,
Breaks: arctica-greeter-theme-debian,
 arctica-greeter-theme-debian-softwaves,
 arctica-greeter-theme-debian-futureprototype,
Replaces: arctica-greeter-theme-debian,
 arctica-greeter-theme-debian-softwaves,
 arctica-greeter-theme-debian-futureprototype,
Description: LightDM Arctica Greeter - Ubuntu MATE Theme
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 This package themes Arctica Greeter with a Ubuntu MATE look'n'feel.
