Source: unity-greeter-x2go
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Standards-Version: 3.9.3
Build-Depends: appmenu-gtk3,
               at-spi2-core,
               dbus-x11,
               debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               ttf-ubuntu-font-family,
               unity-settings-daemon-dev,
               libcanberra-dev,
               libgnome-desktop-3-dev,
               libgtk-3-dev,
               libindicator3-dev,
               libido3-0.1-dev (>= 13.10.0),
               liblightdm-gobject-1-dev (>= 1.4.0),
               libpixman-1-dev,
               valac (>= 0.20.0),
               xvfb,
Homepage: http://www.x2go.org
Vcs-Git: git://code.x2go.org/unity-greeter-x2go.git
Vcs-Browser: http://code.x2go.org/gitweb?p=unity-greeter-x2go.git;a=summary


Package: unity-greeter-x2go
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Recommends: unity-settings-daemon,
            indicator-application,
            indicator-datetime,
            indicator-keyboard,
            indicator-power,
            indicator-session,
            indicator-sound,
            network-manager-gnome,
            lightdm,
Suggests: lightdm-remote-session-freerdp,
          lightdm-remote-session-x2go,
          remote-login-service-x2go,
Provides: lightdm-greeter
Breaks: unity-greeter,
 edubuntu-artwork (<< 12.01.1~),
Replaces: unity-greeter,
Description: Unity Greeter
 A greeter shell for the LightDM login manager. This fork of Unity Greeter
 provides X2Go remote login support with Unity Greeter.
