Source: arctica-greeter
Section: x11
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de> 
Standards-Version: 3.9.6
Build-Depends: at-spi2-core,
               dbus-x11,
               debhelper (>= 9),
               dh-autoreconf,
               fonts-droid-fallback | fonts-droid,
               mate-common,
               mate-settings-daemon-dev,
               libayatana-ido3-0.4-dev (>= 0.4.0~),
               libayatana-indicator3-dev (>= 0.6.0~),
               libcanberra-dev,
               libgnome-desktop-3-dev,
               libgtk-3-dev,
               liblightdm-gobject-dev (>= 1.4.0) | liblightdm-gobject-1-dev (>= 1.4.0),
               lightdm-vala | liblightdm-gobject-1-dev,
               libpixman-1-dev,
               valac (>= 0.20.0),
               valgrind [amd64],
               xvfb,
               xauth,
Homepage: http://arctica-project.org
Vcs-Git: git://cgit.arctica-project.org/arctica-greeter.git
Vcs-Browser: https://cgit.arctica-project.org/arctica-greeter.git/

Package: arctica-greeter
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         fonts-cantarell,
         fonts-cabin,
         lightdm,
         network-manager,
         mate-settings-daemon,
         systemd,
Recommends: indicator-application,
            indicator-datetime,
            indicator-keyboard,
            indicator-power,
            indicator-session,
            indicator-sound,
            network-manager-gnome,
            lightdm-remote-session-freerdp,
            lightdm-remote-session-x2go,
            remote-logon-service,
            mate-settings-daemon,
            xinput,
Provides: lightdm-greeter
Breaks:
 edubuntu-artwork (<< 12.01.1~),
Description: LightDM Arctica Greeter
 A greeter shell for the LightDM login manager. Arctica Greeter can be used as
 local display manager as well as thin client login manager.
 .
 Remote sessions supported by Arctica Greeter:
 .
   - Arctica Remote Desktop Sessions
   - X2Go sessions (desktop type)
   - FreeRDP sessions
   - Citrix remote desktop sessions
